#map {
  height: 600px;
  width: 100%;
  margin-top: 1em;
}

.vehicle-label {
  background: white;
  border: 1px solid gray;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
}

.legend {
  background: white;
  padding: 5px;
  line-height: 10px;
  color: #333;
  font-size: 12px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border-radius: 5px;
}
